/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1024px;
    background-color: #606973;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
    }

.section-heading {
    border-right: 5px solid #C45529;
    min-width: 60px;
    color: #2d3834;
}

/* Header Styles */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #C45529;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #2d3834;
}

header nav {
    margin: 7px 0;
}

header a{
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #2d3834;
}

/* Hero Styles */
.hero {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: rgb(211, 125, 55);
    background-image: url(../assets/images/hero-picture-brick-wall.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    
}

.hero div h2 {
    float: left;
}

/* About Me Styles */
.about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}

.about-me h3 {
    width: 15%;
}

.about-me-description {
    display: flex;
    width: 85%;
}

.about-me p {
    color: #2d3834;
}

.about-me-description img {
    min-width: 240px;
    min-height: 150px;
    padding: 0 20px 0 20px;
}

/* My Work Styles */
.my-work {
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}

.my-work a {
    text-decoration: none;
    color: #2d3834;
}

.my-work h3 {
    width: 15%;
}

.my-work-images {
    display: flex;
    width: 85%;
    padding: 0 20px;
    flex-direction: column;
}

.secondary-projects {
    padding: 0 10px;
}

.calculator a {
    background-image: url(../assets/images/calculator-stock_adobespark.jpg);
    width: 40%;
    height: 200px;
    display: flex;
    padding: 10px;
}

.horiseon a {
    background-image: url(../assets/images/digital-marketing-meeting-smaller_adobespark.jpg);
    width: 40%;
    height: 200px;
    display: flex;
    padding: 10px;
}

.main-project a{
    background-image: url(../assets/images/hero-bg_adobespark.jpg);
    width: 100%;
    height: 200px;
    display: flex;
}

/* Contact Me Styles */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: #2d3834;
}

.contact-me h3 {
    width: 15%;
}

.contact-me a{
    text-decoration: none;
    color: #2d3834;
}

.contact-me div {
    padding: 0 20px;
    width: 20%;
}