/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1024px;
}

.section-heading {
    border-right: 5px solid teal;
    min-width: 60px;
}

/* Header Styles */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header a{
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Styles */
.hero {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color:violet;
    background-image: url(../assets/images/portfolio-hero.jpg);
    height: 200px;
}

/* About Me Styles */
.about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}

.about-me h3 {
    width: 15%;
}

.about-me-description {
    display: flex;
    width: 85%;
}

.about-me-description img {
    min-width: 200px;
    min-height: 150px;
    padding: 0 20px 0 20px;
}

/* My Work Styles */
.my-work {
    display: flex;
    flex-wrap: wrap;
    padding: 20px
}

.my-work h3 {
    width: 15%;
}

.my-work-images {
    display: flex;
    width: 85%;
    padding: 0 20px;
    flex-direction: column;
}

.secondary-projects {
    padding: 0 10px;
}

/* Contact Me Styles */